{% extends "store/main.html" %} {% block content %} {% load static %} <link
type='text/css' src={% static "css/style.css" %}>
<div class="content-section">
  {% if messages %}
  {% for message in messages %}
  {{message}}
  {% endfor %}
  {% endif %}

<form method="POST" action="">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Register</legend>
      {% for field in form %}
      <li>
        {{field.label}}
      </br>
        {{field}}
      </li>
      {% endfor %}
</div>
    <input type='submit' value='Confirm'>
</form>

<div class="border-top pt-3">
  <small class="text-muted">
    Aleady have an Acount! <a class="ml-2" href={% url "login" %}>Log In</a>
  </small>
</div>
{% endblock content %}
